extends ../layout.jade

block content
    .container
        .row
            form.form-horizontal(method="post", action="/admin/movie/new")
                label.col-sm-3.control-label(for="inputTitle") 片名
                .col-sm-10
                    input#inputTitle.form-control(type="text", name="movie[title]", value="#{movie.title}")

            form.form-horizontal(method="post", action="/admin/movie/new")
                label.col-sm-3.control-label(for="inputDirector") 导演
                .col-sm-10
                    input#inputDirector.form-control(type="text", name="movie[director]", value="#{movie.director}")

            form.form-horizontal(method="post", action="/admin/movie/new")
                label.col-sm-3.control-label(for="inputCountry") 国家
                .col-sm-10
                    input#inputCountry.form-control(type="text", name="movie[country]", value="#{movie.country}")

            form.form-horizontal(method="post", action="/admin/movie/new")
                label.col-sm-3.control-label(for="inputLang") 语言
                .col-sm-10
                    input#inputLang.form-control(type="text", name="movie[lang]", value="#{movie.lang}")

            form.form-horizontal(method="post", action="/admin/movie/new")
                label.col-sm-3.control-label(for="inputYear") 上映年份
                .col-sm-10
                    input#inputYear.form-control(type="text", name="movie[year]", value="#{movie.year}")

            form.form-horizontal(method="post", action="/admin/movie/new")
                label.col-sm-3.control-label(for="inputSummary") 简介
                .col-sm-10
                    input#inputSummary.form-control(type="text", name="movie[summary]", value="#{movie.summary}")
